@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    background-color: #457b9d;
    color: #f1faee;
  }
  .answer-btn {
    text-transform: capitalize;
    width: 300px !important;
    display: block;
    margin: 10px 0;
  }
}

$theme-colors: (
  primary: #a8dadc,
);

@import "bootstrap";
